/* Import Fonts.css */
@import url('/styles/fonts.css');

/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */
body{
    font-family: 'Poppins-regular',sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.btn-dark{
    background: #000;
    border-radius: 33px;
    color: #fff;
    width: 226px;
    height: 60px;
    text-align: center;
    padding: 16px;
}

.btn-light{
    border: 1px solid #000000;
    background: #fff;
    color: black;
    border-radius: 33px;
    width: 226px;
    height: 60px;
    text-align: center;
    padding: 16px;
}


/* Navbar */
#navbar{
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.3);
}

#navbar .logo img{
    height: 52px;
    width: 90px;
    margin: 24px 0 0 100px;
}

#navbar ul{
    display: flex;
    align-items: center;
}

#navbar ul li{
    padding: 0px 24px;
}

#navbar ul li a{
    color: black;
    font-size: 16px;
}

#navbar .search-field{
    display: flex;
    align-items: center;
}

#navbar .search-field i{
    position: absolute;
    opacity: 0.28;
}

#navbar .search-field input{
    padding: 16px 32px;
    border-radius: 33px;
    height: 16px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-family: 'Poppins-regular';
    width: 175px;
    margin-right: 100px;
}

#navbar .search-field .icon{
    padding: 10px;
}

/* Navbar Mobile */
@media(max-width: 1024px){
    #navbar .logo img{
        height: 22px;
        width: 38px;
        margin: 24px 0 0 30px;
    }

    #navbar ul{
        margin-top: 16px;
    }

    #navbar ul li{
        padding: 0px 8px;
        margin-left: 32px;
    }

    #navbar .search-field input{
        display: none;
    }

    #navbar .search-field .icon{
        position: relative;
        margin-right: 30px;
        margin-top: 16px;
    }
}

/* Section Content */
#content{
    display: flex;
    background: rgba(229, 229, 229, 0.5);
    height: 90vh;
}

#content .product-img img{
    width: 609px;
    height: 570.32px;
}

#content .product-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

#content .product-img,
#content .product-text{
    flex: 1;
}

#content .product-text{
    display: flex;
    flex-direction: column;
    padding: 100px 32px;
}

#content .product-text p{
    font-family: 'Poppins-regular',sans-serif;
}

#content .product-text .l-heading{
    color: #67599C;
    font-family: 'Poppins-bold',sans-serif;
    font-size: 50px;
}

#content .product-text .product-title .back-rectangle{
    background: rgba(103, 89, 156, 0.2);
    width: 460px;
    height: 31px;
    position: absolute;
    top: 227px;
    margin-left: -10px;
    border-radius: 18px;
}

#content .product-text .product-title{
    margin-bottom: 16px;
}

#content .product-text .description{
    padding: 32px 0;
    width: 70%;
    text-align: justify;
    margin-bottom: 16px;
}

#content .product-text .price{
    font-family: 'Poppins-bold',sans-serif;
    font-size: 28px;
}

#content .product-text .price-text{
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    margin-bottom: 32px;
}

#content .product-text .product-sizes{
    margin: 16px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
}

#content .product-text .product-sizes .size{
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    width: 120px;
    height: 42px;
    text-align: center;
    padding-top: 7px;
    margin-bottom: 7px;
}

#content .product-text .btn-group{
    display: flex;
    margin-top: 24px;
}

#content .product-text .btn-group div{
    justify-content: space-around;
    margin-right: 16px;
}

/* Content Mobile */
@media(max-width: 1024px){

    #content{
        display: flex;
        flex-direction: column;
        background: rgba(229, 229, 229, 0.5);
        height: 100%;
    }

    #content .product-img img{
        width: 315px;
        height: 294.99px;
        margin-top: 50px;
    }

    #content .product-text .product-title .l-heading{
        font-size: 28px;
    }

    #content .product-text .product-title .back-rectangle{
        width: 267px;
        height: 21px;
        top: 520px;
    }

    #content .product-text .description{
        order: 1;
    }

    #content .product-text .description{
        width: 100%;
    }

    #content .product-text .price{
        margin-top: 24px;
    }

    #content .product-text .product-sizes{
        width: 100%;
    }

    #content .product-text .product-sizes div:nth-child(5),
    #content .product-text .product-sizes div:nth-child(7){
        display: none;
    }

    #content .product-text .btn-group{
        flex-direction: column;
    }

    #content .product-text .btn-group div{
        width: 100%;
        margin-bottom: 16px;
    }
}